<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
	crossorigin="anonymous">

</head>
<body>
<section th:replace="componentes/tiempo :: interceptor"></section>

	<h3 th:text="${titulo}"></h3>
	<div class="container">
		<form th:action="@{/form}" th:object="${usuario}" method="post" class="row g-3">

			<div class="form-check row">
				<label class="form-check-label" for="habilitar">Habilitar</label>
				
					<input type="checkbox" id="habilitar" th:field="*{habilitar}"
						class="form-check-input">

			</div>

			<div class="form-group row">
				<label>Género</label>
				<div th:each="gen: ${genero}" class = "form-check">
					<input type="radio" th:field="*{genero}" th:value="${gen}"
						class="form-check-input">
						<label th:for="${#ids.prev('genero')}" th:text="${gen}" class="form-check-label"></label>
				</div>
				<div th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
			</div>

			<div class="form-group row">
				<label for="pais">País</label>
				<div>
					<select id="pais" th:field="*{pais}" class="form-select">
						<option value="">Seleccionar</option>
						<option th:each="pais:${listaPaises}" th:text="${pais.nombre}"
							th:value="${pais.id}"></option>
					</select>
				</div>
				<div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
			</div>

			<div class="form-group row">
				<label>Roles</label>
				<div th:each="role: ${listaRoles}" class="form-check">
					<input type="checkbox" th:field="*{roles}" th:value="${role.id}"
						th:checked="${#lists.contains(usuario.roles, role)}"
						class="row col-sm-2 form-check-input">
						<label th:for="${#ids.prev('roles')}" th:text="${role.nombre}" class="form-check-label"></label>
				</div>
				<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
			</div>

			<div class="form-group row">
				<label for="identificador">Identificador</label>
				<div>
					<input type="text" id="identificador" th:field="*{identificador}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('identificador')}"
					th:errors="*{identificador}"></div>
			</div>

			<div class="form-group row">
				<label for="nombre">Nombre</label>
				<div>
					<input type="text" id="nombre" th:field="*{nombre}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
			</div>

			<div class="form-group row">
				<label for="apellido">Apellido</label>
				<div>
					<input type="text" id="apellido" th:field="*{apellido}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('apellido')}"
					th:errors="*{apellido}"></div>
			</div>

			<div class="form-group row">
				<label for="username">Username</label>
				<div>
					<input type="text" id="username" th:field="*{username}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}"></div>
			</div>

			<div class="form-group row">
				<label for="password">Password</label>
				<div>
					<input type="password" id="password" th:field="*{password}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}"></div>
			</div>
			<div class="form-group row">
				<label for="email">Correo</label>
				<div>
					<input type="text" id="email" th:field="*{email}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>
			<div class="form-group row">
				<label for="cuenta">Cuenta</label>
				<div>
					<input type="number" id="cuenta" th:field="*{cuenta}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
			</div>
			<div class="form-group row">
				<label for="fechaNacimiento">Fecha</label>
				<div>
					<input type="date" id="fechaNacimiento"
						th:field="*{fechaNacimiento}" placeholder="yyyy/MM/dd"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('fechaNacimiento')}"
					th:errors="*{fechaNacimiento}"></div>
			</div>
			<div class="form-group row">
				<div>
					<input type="submit" name="Enviar" class="btn btn-primary">
				</div>
			</div>

			<input type="hidden" th:field="*{valorSecreto}">

		</form>
	</div>
</body>
</html>